{% assign fork = site.data.data.fork %}
{% if fork %}
<section class="fork">
    <div class="title">Star or Fork SimpleX Chat</div>
    <div>
        <a class="github-button" href="https://github.com/simplex-chat/simplex-chat" aria-label="Star SimpleX Chat on GitHub">Star</a>
        <a class="github-button" href="https://github.com/simplex-chat/simplex-chat" aria-label="Fork SimpleX Chat on GitHub">Fork</a>
    </div>
</section>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endif %}